html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f9fa;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

/* Bootstrap ya está incluido en el Dockerfile, así que no necesitamos importarlo aquí */