
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}